<html class="wf-sourcesanspro-n6-active wf-sourcesanspro-n4-active wf-playfairdisplay-n7-active wf-active"
        lang="eng">
    <header>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        
        <title>
            {{title}}
        </title>
    </head>
    <body class="home page-template-default page page-id-7 wp-embed-responsive theme-blogxer woocommerce-js header-style-1 footer-style-1 no-sidebar right-sidebar product-grid-view elementor-default elementor-page elementor-page-7 top">
    
    <div class="header">
        <h1> Welcome, <b> {{username}} </b></h1>
        <p> Record you daily life on YouStar <span class="glyphicon glyphicon-comment"></span></p>
    </div>
    <div id="add-post-div" class="container">
        {{!-- <input id="add-post-input" value="Add Post" type="submit"> --}}
        <a href=# id="add-post-a" class=" glyphicon glyphicon-pencil" type="submit"> ADD POST</a>
        <style>
            #back-to-list{
                margin-top: 5%;
        
            }
        </style>
        <a href='/main' id="back-to-list" class="glyphicon glyphicon-arrow-left" > BACK TO LIST </a>
        
        <a href='/main/favourite' id="favourite-a" class=" glyphicon glyphicon-heart " type="submit"> FAVOURITE</a>
        <a href='/logout' id="logout-a" class="glyphicon glyphicon-log-out" type="submit"> LOG OUT</a>
    </div>

    <div id="displaying-posts" class="box">
        <div class="container">
            <div class="row">
                
                {{#post_info}}
                    
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                
                        <div class="box-part text-center">
                            

                            <div style="text-align: right;">
                                <a href='/main/remove-favourite?post_id={{this._id}}' class=" deleteFav favourite glyphicon glyphicon-remove" aria-hidden="true"></a>
                            </div>

                            
                            <div class="title">
                                <h3> {{this.post_title}} </h3>
                            </div>
                            
                            <div class="text">
                                <span>{{this.post_content}}</span>
                            </div>
                            
                            {{!-- <form method="POST" action="/main/read_mroe" > --}}
                                {{!-- <span name="post_id" style="display: none;"> {{this._id}} </span> --}}
                                <a class="read_more" href='/main/read_more/public?post_id={{this._id}}' type="submit"> Read More</a>
                            {{!-- </form> --}}
                            
                        </div>
                    </div>	 
                {{/post_info}}
            </div>		
        </div>
    </div>


    <script type="text/javascript" src="/javascripts/main.js"></script>
        
    </body>
</html>


