<html class="wf-sourcesanspro-n6-active wf-sourcesanspro-n4-active wf-playfairdisplay-n7-active wf-active"
        lang="eng">
    <header>
        <meta charset="UTF-8">
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        
        <title>
            {{title}}
        </title>
    </head>
    <body class="home page-template-default page page-id-7 wp-embed-responsive theme-blogxer woocommerce-js header-style-1 footer-style-1 no-sidebar right-sidebar product-grid-view elementor-default elementor-page elementor-page-7 top">
    
    <div class="header">
        <h1> Welcome, <b> {{username}} </b></h1>
        <p> Record you daily life on YouStar <span class="glyphicon glyphicon-comment"></span></p>
    </div>
    <div id="add-post-div" class="container">
        {{!-- <input id="add-post-input" value="Add Post" type="submit"> --}}
        <a href=# id="add-post-a" class=" glyphicon glyphicon-pencil" type="submit" style="display: none;"> ADD POST</a>
        <a href='/main' id="back-to-list" class="glyphicon glyphicon-arrow-left"> BACK TO LIST </a>
        <a href='/logout' id="logout-a" class="glyphicon glyphicon-log-out" type="submit"> LOG OUT</a>
    </div>



    <div id="a_post" class ="box" >
        <div class="container">
            <div class="col-md-12 wow animated fadeInRight" data-wow-delay=".2s">
                      <!-- TITLE -->
                    <div class="title">
                       <h2>{{post.post_title}} </h2>
                    </div>

                      <!-- CONTENT -->
                    <div class="text">
                        <span>{{post.post_content}}</span>
                    </div>

                    {{#if private}}
                    <div class="text">
                        <a href='/main/edit-post?post_id={{post._id}}' class='glyphicon glyphicon-edit'> edit </a>
                    </div>

                    <div class="text">
                        <a href='/main/delete-post?post_id={{post._id}}' class='glyphicon glyphicon-trash'> delete </a>
                    </div>
                    {{/if }} 

            </div>
        </div>            
    </div>


    <script type="text/javascript" src="/javascripts/main.js"></script>
        
    </body>
</html>


